@media(max-width:1000px){
  .navbar .navbar-collapse.collapsing{ 
    height:auto !important;
  }
  .navbar .lateral-left{
    display:none;
    animation: slide-out-left 200ms ease-in-out backwards; 
  }

  .navbar .lateral-left.show{ 
    display: block !important;
    animation: slide-in-left 500ms ease-in-out forwards; 
    transform-origin: top center;
    visibility: visible !important;
    overflow-y: auto;
  }
  
  .navbar .navbar-collapse{ 
    top: 0px; 
    bottom: 0px; 
    position: fixed; 
    width: 100%;  
    max-width: 100%; 
    left: 0;
    height: auto !important;
    background: #fff;
    padding: 15px 30px;
    top: 60px;
    z-index: 1000;
  }

  #toggleButton {
    padding: 0;
    border: 0;
    font-size: 34px;
    background: transparent;
    cursor: pointer;
    color: #000;
  }

  #toggleButton i {
    transition: opacity 0.3s ease-in-out;
    animation: slide-in-left 700ms ease-in-out forwards;
  }

  #toggleButton i.hidden {
    opacity: 0;
    display: none;
  }

  .navbar .mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(255, 255, 255, 0.98);
    overflow: hidden;
    display: block;
    animation: slide-in-left 900ms ease-in-out forwards; 
    transform-origin: top center;
  }

  .navbar .mobile-nav-overly.hidden { 
    display: none; 
    animation: slide-out-left 200ms ease-in-out backwards; 
  }
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow:none !important; }

  .navbar .bi {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background: #fff;
}


@keyframes slide-in-left{ 
  0%		{ opacity:0; }
  100%	{ opacity:1; }
}
@keyframes slide-out-left{
  0%		{ opacity: 1; }
  100%	{ opacity: 0; }
}
@keyframes slide-in-right{ 
  0%		{ right:-100%; }
  100%	{ right:0px; }
}
@keyframes slide-out-right{
  0%		{ right:0px; }
  100%	{ right:-100%; }
}




/* Sticky header */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: 0.3s;
    background: linear-gradient(90deg, rgb(0 0 0 / 50%) 0%, rgb(0 0 0 / 43%) 17%, rgb(0 0 0 / 10%) 100%);
}
 .header.scrolled{box-shadow: 0px 4px 4px 0px rgb(255 255 255 / 12%);}

@media (max-width: 1200px){
  .header {
    position:sticky !important;background-color: #fff !important;box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    
  
  }

  .navbar-brand img{width: 150px;}
}

.header.hidden {
  top: -120px; 
  transition: 0.3s;
}

.header.scrolled{background: #000 !important;transition: 0.3s;}

@media (min-width: 1200px){
  .navbar .dropdown .dropdown-menu {
    display: block;
    position: absolute;
    left: 5px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 0;
    z-index: 99;
    opacity: 0;
    border: none !important;
    visibility: hidden;
    background: #fff !important;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 0;
}
.navbar .dropdown:hover>.dropdown-menu {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

}
.dropdown-toggle::after {
  display:  unset !important;
  margin-left: unset !important;
  vertical-align:  unset !important;
  content: "";
  border-top:  unset !important;
  border-right:  unset !important;
  border-bottom: 0;
  border-left:  unset !important;}

.dropdown i{font-size: 10px !important;background-color: transparent !important;}
/* .dropdown .bi::before{ vertical-align:  middle !important; } */

/* ============ mobile view ============ */
@media(max-width: 991px){
  .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
    overflow-y: auto;
      max-height: 90vh;
      margin-top:10px;
  }
}
/* ============ mobile view .end// ============ */
.navbar .nav-item .nav-link{font-size: 18px; line-height: 25.2px; font-weight: 400; color: #fff;}
.header{padding: 10px 0;}
@media (min-width: 1200px){
  .navbar .nav-item{margin: 0 15px !important;}
  .navbar .nav-item .nav-button{color: #1F1F1F; background-color: #fff; border: 1px solid #fff;padding: 10px 30px !important; border-radius: 47px;font-weight: 500 !important;}
  .navbar .nav-item .nav-button:hover{color: #fff !important; background-color: transparent; border: 1px solid #fff !important;}
  .navbar .nav-item .nav-link{padding-top:24px; padding-bottom: 24px;}
}

@media (max-width: 1200px){
  header ul.dropdown-menu.show{border: unset !important;}
  header .nav-link:focus-visible {
    outline: 0;
    box-shadow:unset !important;
}

.dropdown-item{
    font-size: 16px; line-height: 24px; padding: 7px 20px !important;
}


.nav-link.dropdown-toggle .bi::before{font-size: 12px; margin-left: 3px;vertical-align: -3px !important;}}

